@import url("https://fonts.googleapis.com/css2?family=Paytone+One&family=Russo+One&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4196fd;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li:hover {
  background-color: rgb(0, 166, 255);
}

.brand-title {
  margin: 0.5rem;
  color: #ffffff;
}

.navbar li {
  list-style: none;
}

.shortcuts {
  text-decoration: none;
  color: #ffffff;
  display: block;
  padding: 1rem;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

#home {
  width: 100%;
  height: 100vh;
  background-image: url(bg.jpg);
  background-size: cover;
  background-position: center;
  opacity: 90%;
  position: relative;
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.details1 {
  color: white;
  font-family: Paytone One;
  font-size: 5rem;
  position: absolute;
  top: 12%;
  left: 12%;
  text-align: center;
  color: #ffffff;
  text-shadow: 7px 7px 8px black;
}

.dot {
  color: rgb(0, 0, 0);
  text-shadow: 5px 5px 10px white;
}

.post {
  font-family: Russo one;
  font-size: 2rem;
  color: black;
  text-shadow: 5px 5px 10px white;
}

#education {
  height: 100vh;

  background-color: rgb(230, 229, 229);
  padding-top: 40px;
}

.title {
  text-align: center;
  color: #373737;
  text-transform: uppercase;
}

.level {
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  padding: 100px;
  /* border: 1px solid red; */
}

.blocks {
  width: 40%;
}

.grade,
.institute {
  font-size: 15px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.explaination {
  font-size: 15px;
  font-weight: bold;
  color: #373737d4;
}

#skills {
  padding-top: 40px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill {
  padding-top: 10px;
  padding-bottom: 50px;
  width: 80%;
}

.label {
  font-size: 18px;
  font-weight: bold;
}

.percentage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: max-content;
}

.back {
  width: 80%;
  height: 10px;
  border-radius: 5px;
  background-color: rgb(199, 199, 199);
}

.front1 {
  width: 90%;
  height: 10px;
  border-radius: 5px;
  background-color: #4196fd;
}
.front2 {
  width: 60%;
  height: 10px;
  border-radius: 5px;
  background-color: #4196fd;
}
.front3 {
  width: 80%;
  height: 10px;
  border-radius: 5px;
  background-color: #4196fd;
}
.front4 {
  width: 90%;
  height: 10px;
  border-radius: 5px;
  background-color: #4196fd;
}
.front5 {
  width: 95%;
  height: 10px;
  border-radius: 5px;
  background-color: #4196fd;
}

@media (max-width: 600px) {
  .toggle-button {
    display: flex;
  }

  .nav-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links ul {
    width: 100%;
    flex-direction: column;
  }

  .nav-links li {
    text-align: center;
  }

  .shortcuts {
    padding: 0.5rem 1rem;
  }

  .nav-links.active {
    display: flex;
  }

  .details1 {
    font-size: 3rem;
    top: 45%;
    left: 27%;
  }

  #education {
    height: fit-content;
  }

  .level {
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;
  }

  .blocks {
    width: 100%;
  }
}

@media (max-width: 800px) and (min-width: 600px) {
  .details1 {
    font-size: 3rem;
    top: 25%;
    left: 20%;
    transform: translate(50%, 50%);
  }

  #education {
    height: fit-content;
  }

  .level {
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;
  }

  .blocks {
    width: 100%;
  }
}
